*
  margin: 0px
  padding: 0px
  border: 0px
  font-weight: normal
  font-size: 100%
  font: inherit
  vertical-align: baseline
  list-style: none
  line-height: 1
  outline: 0px
  background: none
  box-sizing: border-box
  text-rendering: optimizeLegibility
  font-smoothing: antialiased
  transition: 0.4s
  font-family: 'Open Sans', sans-serif

.splide__pagination
  display: none !important
a,
a:visited,
a:hover,
a:active
  color: inherit
  text-decoration: none
  color: inherit
  cursor: pointer