.colunistas
  width: 100%
  gap: 16px
  @include flex-c

  header
    background-color: $gray-300
    padding: 23px 22px
    justify-content: space-between
    border-radius: 8px
    @include flex-r-ac

    h2
      color: $red-700
      font-size: 28px
      line-height: 34px
      font-weight: 700
    a
      display: none
      width: 48px
      height: 48px
      justify-content: center
      align-items: center
      border-radius: 4px
      background-color: $white
      > svg
        width: 10px
        height: 10px
        > path
          fill: $red-700
      &:hover
        background: rgb(230,27,35)
        background: linear-gradient(133deg, rgba(230,27,35,1) 0%, rgba(122,25,32,1) 100%)
        > svg path
          fill: $white
  .splide__arrows > button
    width: 48px
    cursor: pointer
    height: 48px
    justify-content: center
    @include flex-r-ac
    border: 1px solid $gray-500
    opacity: 0.7
    border-radius: 4px

  .splide__arrows > button > svg
    width: 14px
    fill: $gray-700

  .splide__arrows.splide__arrows--ltr
    position: absolute
    right: 22px
    top: -80px
    display: flex
    gap: 12px

  .splide__arrow--prev svg
    transform: scaleX(-1)

  .colunista-card
    background-color: $gray-300
    border-radius: 8px
    padding: 20px 22px
    align-items: center
    max-width: 209px
    max-height: 269px
    overflow: hidden
    @include flex-r-ac
    gap: 48px
    .content
      @include flex-c
      width: 100%
      height: 100%
      min-width: 418px
      gap: 8px
      h4
        font-weight: bold
        font-size: 14px
        line-height: 19px
        color: $red-700
      h3
        font-size: 20px
        line-height: 24px
        color: $gray-900
        font-weight: bold
      p
        font-weight: bold
        font-size: 16px
        line-height: 22px
        color: $gray-700
    .info
      align-items: center
      @include flex-c
      gap: 18px
    .info > img
      width: 165px
      height: 165px
      border-radius: 8px
      background-color: #c9c9c9
      object-fit: cover
    .info > h3
      color: $gray-900
      font-weight: bold
      font-size: 16px
      line-height: 22px
      text-align: center
      max-width: 140px
      vertical-align: middle
    &:hover
      max-width: 675px
      .info > h3
        color: $red-700
      .info > img
        background-color: #72f29e