.videos
  position: relative
  gap: 32px
  @include flex-c

  header
    @include flex-r-ac
    background-color: $gray-800
    border-radius: 8px
    padding: 23px 22px
    justify-content: space-between
    > h2
      color: $red-300
      font-weight: bold
      font-size: 28px
      line-height: 34px
    .side > a
      color: $gray-700
      font-size: 14px
      line-height: 16px
      border: 2px solid $gray-700
      border-radius: 4px
      gap: 12px
      margin-right: 124px
      padding: 14px 13px
      font-weight: bold
      @include flex-r-ac
      &:hover
        background-color: $gray-900
        border-color: $gray-900
        color: $red-300
        > svg path
          stroke: $red-300

  .content
    display: flex
    gap: 22px
    .highlight
      width: 100%
      max-width: 1029px
      height: 642px
      position: relative
      overflow: hidden
      cursor: pointer
      > figcaption
        border: 5px solid $red-300
        border-radius: 8px
        opacity: 0
        width: 100%
        height: 100%
        position: absolute
      .iconPlayMobile
        display: none
      > img
        width: 100%
        border-radius: 8px
        object-fit: cover
        height: 100%
        position: absolute
      .text
        position: inherit
        padding: 50px 42px
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%)
        gap: 8px
        width: 100%
        height: 100%
        display: flex
        border-radius: 8px
        overflow: hidden
        align-items: start
        justify-content: flex-end
        @include flex-c
        > h3
          color: $red-300
          font-size: 12px
          line-height: 16px
          font-weight: 700
          text-transform: uppercase
        > h2
          color: $white
          font-size: 26px
          line-height: 30px
          font-weight: 700
        > svg
          width: 60px
          height: 60px
          margin-bottom: 8px
      &:hover
        > figcaption
              opacity: 1
        
        .text > svg path
          fill: $red-300

    .videosCarrossel
      width: 100%
      max-width: 327px
      @include flex-c
      .splide__arrows.splide__arrows--ttb
        display: flex
        position: absolute
        right: 20px
        gap: 12px
        top: -103px
      .splide__arrows > button
        width: 48px
        height: 48px
        cursor: pointer
        justify-content: center
        @include flex-r-ac
        background-color: #000
        opacity: 0.7
        border-radius: 4px
      .splide__arrows > button > svg path
        fill: $red-100
      button.splide__arrow.splide__arrow--prev
        transform: rotate(270deg)
      button.splide__arrow.splide__arrow--next
        transform: rotate(90deg)
      .splide__arrows > button > svg
        width: 14px
        fill: $gray-700
      .splide__track,
      .splide__list
        width: 100%
      .splide__slide
        max-width: 327px
        max-height: 304px
      .video-card
        @include flex-c
        cursor: pointer
        overflow: hidden
        position: relative
        > figure
          @include flex-c
          position: relative
          max-height: 203px
          > img
            width: 327px
            height: 203px
            object-fit: cover
          > figcaption
            border: 5px solid $red-300
            border-radius: 8px 8px 0 0
            opacity: 0
            width: 100%
            height: 100.5%
            position: absolute
            align-items: end
            justify-content: end
            padding: 16px
            @include flex-c
            .comments
              color: $red-100
              font-weight: 700
              font-size: 12px
              line-height: 16px
              gap: 8px
              @include flex-r-ac
        > .text
          background-color: $gray-800
          border-radius: 8px 8px 0px 0px
          padding: 16px
          gap: 8px
          @include flex-c
          border-radius: 0 0 4px 4px
          > h3
            font-weight: 700
            font-size: 12px
            line-height: 16px
            color: $red-300
            text-transform: uppercase
          > h2
            color: $white
            font-weight: 700
            font-size: 16px
            line-height: 22px
        > .playIcon
          position: absolute
          width: 33px
          height: 33px
          top: 16px
          left: 16px

        &:hover
          > .text
            background-color: $gray-900
          > figure
            > figcaption
              opacity: 1
          > .playIcon path
            fill: $red-300

  .bg
    position: absolute
    width: calc(100vw - 19%)
    height: 100%
    z-index: -1
    left: -45px
    top: 45px
    border-radius: 8px
    background-image: $black-gradient