@media (max-width: 1400px)
  .videos
    .bg
      width: 100%
      left: 0
      height: 105%
      top: -40px
  .videos header
    margin: 0 20px
  .videos .content
    padding: 0 20px
  .colunistas
    header
      margin: 0 20px
    .splide__arrows.splide__arrows--ltr
      right: 42px
    .splide__slide:first-of-type
      margin-left: 20px
    .splide__slide:last-of-type
      margin-right: 20px

@media (max-width: 850px)
  .splide__arrows
    display: none !important
  .videos
    padding: 30px 0 24px
    header
      .side > a
        margin-right: 0
        font-size: 0
        gap: 0
        width: 48px
        display: flex
        align-items: center
        justify-content: center
    .content
      flex-direction: column
      padding: 0
      .highlight
        max-width: calc(100% - 40px)
        margin: auto
        height: 304px
        display: flex
        align-items: end
        border: unset
        .iconPlayMobile
          z-index: 1
          display: block
          width: 33px !important
          height: 33px !important
          top: 20px
          left: 20px
        &:hover
          border: unset
        .text
          padding: 16px
          background-color: #333333
          background-image: unset
          border-radius: 8px 8px 0px 0px
          padding: 16px
          gap: 8px
          display: flex
          flex-direction: column
          min-height: 100px
          height: fit-content
          border-radius: 0 0 4px 4px
          > svg
            display: none
          > h2
            font-size: 16px
            line-height: 22px
      .videosCarrossel
        max-width: unset
        .splide__slide:first-of-type
          margin-left: 20px
  .colunistas
    header
      a
        display: flex
    .colunista-card
      &:hover
        max-width: 209px